.category-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.category-container .categorys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  flex-wrap: nowrap; /* Masaüstünde tek satır */
  overflow-x: auto; /* Yatay kaydırma */
}

.categorys .category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  width: 150px; /* Sabit genişlik */
  text-align: center;
}

.categorys .category-icon:hover {
  background-color: black;
}

.categorys .category-icon p {
  color: black;
  transition: color 0.3s ease;
  font-size: 1rem;
}

.categorys .category-icon:hover p {
  color: white;
}

.categorys .category-icon img {
  width: 40px;
  height: auto;
}

/* Mobil Tasarım (Maksimum genişlik 768px) */
@media (max-width: 768px) {
  .category-container .categorys {
    flex-wrap: wrap; /* Alt satıra geçişe izin ver */
    gap: 1rem; /* Daha dar boşluk */
    justify-content: space-between; /* Sola ve sağa hizala */
  }

  .categorys .category-icon {
    width: calc(50% - 1rem); /* İki sütun */
    padding: 0.75rem;
  }

  .categorys .category-icon img {
    width: 35px; /* Simge boyutunu küçült */
  }

  .categorys .category-icon p {
    font-size: 0.9rem; /* Daha küçük yazı boyutu */
  }
}

/* Küçük Mobil Tasarım (Maksimum genişlik 480px) */
@media (max-width: 480px) {
  .categorys {
    gap: 0.5rem; /* Daha dar boşluk */
  }

  .categorys .category-icon {
    width: calc(50% - 0.5rem); /* İki sütun */
    padding: 0.5rem;
  }

  .categorys .category-icon img {
    width: 30px; /* Daha küçük simge */
  }

  .categorys .category-icon p {
    font-size: 0.8rem; /* Daha küçük yazı boyutu */
  }
}
