/* Genel Sıfırlama */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Genel Stiller */
body {
  font-family: "Barlow", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #ce2829;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#banner {
  margin: auto;
}

img {
  margin: 2rem auto;
  height: auto;
}

h1 {
  font-size: 2rem;
  font-family: "Quattrocento", serif;
  color: #fff;
  margin-top: 3rem;
  padding-top: 2rem;
}

p {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.kodAc {
  font-size: 3.5rem;
  color: #fff;
}

/* Buton Stilleri */
#ac {
  margin-top: 2rem;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  background-color: #fdc913;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#ac:hover {
  background-color: yellow;
}
