.pizza-title {
    text-align: center;
    background-color: #CE2829;
    color: #FAF7F2;
    padding: 1rem 0.5rem;
    font-family: 'Satisfy', cursive;
}

.pizza-title h1 {
    font-size: 2rem;
}

.pizza-title .route-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 100%;
    font-family: 'Barlow', sans-serif;
}

.route-container .route {
    display: flex;
    gap: 0.5rem;  /* Aralarındaki boşluğu artır */
    max-width: 100%;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.route .bold-text {
    font-weight: bold;
}

/* Mobil için düzenlemeler */
@media (max-width: 768px) {
    .pizza-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
    }

    .pizza-title h1 {
        font-size: 1.5rem;
    }

    .pizza-title .route-container {
        font-size: 0.8rem;
        gap: 0.1rem;
        justify-content: flex-start;
    }

    /* Mobilde Anasayfa ve Sipariş Oluştur yan yana görünmesi için */
    .route-container .route {
        flex-direction: row;  /* Öğeleri yatay hizala */
        gap: 1rem;  /* Aralarındaki boşluğu artır */
    }
}

@media (max-width: 480px) {
    .pizza-title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 120px;
    }

    .pizza-title h1 {
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    .pizza-title .route-container {
        font-size: 0.7rem;
        gap: 0.1rem;
        margin-left: 1.5rem;
    }

    /* Mobilde Anasayfa ve Sipariş Oluştur yan yana görünmesi için */
    .route-container .route {
        flex-direction: row;  /* Öğeleri yatay hizala */
        gap: 0.5rem;  /* Aralarındaki boşluğu artır */
    }
}
